<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <br>
  <br>
      <div class="row justify-content-center">
      <div class="col-6">
            <img class="card-img-top" alt="Card image cap" src="https://film-grab.com/wp-content/uploads/photo-gallery/26%20(504).jpg?bwg=1547222276">


    <div class="card-header bg-dark rounded-0">
      <h1>Create an event</h1>
    </div>

    <div class="card-body">
      <%= form_tag url_for(action: 'create'), method: "post" do %>
            
        <form method="POST"></br>
          <input class="form-control rounded-0" type="text" name="title" minlength="5" maxlength="140" placeholder="What's the title of your event ?">
          </br>
          <textarea class="form-control rounded-0" name="description" placeholder="A description of your event" minlength="20" maxlength="1000"></textarea>
          <br>
          <div class="row">
            <div class="col">
                <input class="form-control rounded-0" type="number" name="price"  placeholder="Price" min="1" max="150">
            </div>
            <div class="col">
                <input type="text" name="location" class="form-control" placeholder="Location of the event">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col">
                <div class="form-group row">
                  <label for="start_date" class="col-sm-2 col-form-label">Date :</label>
                  <div class="col-sm-10">
                      <input class="form-control rounded-0" id="start_date" type="date" name="start_date" min="<%=Time.now.strftime("%Y-%m-%d")%>" placeholder="Start date of your event">
                  </div>
              </div>
            </div>
            <div class="col">
                <input class="form-control rounded-0" type="number" name="duration" step="5" min="5" placeholder="Duration (minutes)">
            </div>
          </div>  
          <% flash.each do |key, value| %>
              <div class="flash <%= key %> text-danger"><%= value %></div>
          <% end %>       
          <br>
          <input type="submit" value="Create" class="btn btn-dark rounded-0">
        </form>
      <% end %>

    </div>
</div>
</div>
  </div>
</body>
</html>