/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.jumbotron {
  background-image: url(https://static01.nyt.com/images/2018/10/26/movies/burning-still/burning-still-videoSixteenByNineJumbo1600.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: 'Roboto';
  min-height: 650px;
}

.jumbotitle {
    font-size: 8em;
  }
.card-header {
  color: white;
 }